@import "../node_modules/prismjs/themes/prism.css";

$font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
  monospace;

$bp-desktop: 1156px;

%section {
  max-width: $bp-desktop;
  margin: 0 auto;
  padding: 0 28px;
}

html,
body {
  font-family: $font-body;
  padding: 0;
  margin: 0;
}

code {
  font-family: $font-mono;
}

* {
  box-sizing: border-box;
}

// Header
.mainHeader {
  @extend %section;
  padding-top: 40px;
  margin-bottom: 60px;
  text-align: center;

  &__title {
    font-size: 24px;
    margin: 0 0 32px;
  }

  &__badges {
    a {
      text-decoration: none;
    }
  }
}

// Section
.section {
  @extend %section;
  margin-bottom: 40px;

  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid #dfdede;
    margin-top: 40px;
  }

  &__subSection {
    margin-bottom: 40px;
  }
}

// Section header
.sectionHeader {
  margin-bottom: 20px;

  &__title {
    margin: 0;

    &.-mono {
      font-family: $font-mono;
    }
  }

  &__titleLink {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    position: relative;

    &::before {
      content: "#";
      color: rgb(201, 201, 201);
      position: absolute;
      left: -5px;
      top: calc(50% + 2px);
      font-size: 18px;
      font-family: $font-mono;
      font-weight: normal;
      transform: translate(-100%, -50%);
      display: none;

      @media screen and (min-width: $bp-desktop) {
        left: -10px;
      }
    }

    &:hover {
      text-decoration: underline;

      &::before {
        display: block;
      }
    }
  }

  &__body {
    font-size: 14px;
    margin: 20px 0;
  }

  &__code {
    margin: 0;
    border-radius: 4px;
  }
}

// Code Columns
.codeColumns {
  @media screen and (min-width: $bp-desktop) {
    display: flex;
    margin: 0 -10px;
  }

  &__column {
    &:last-child {
      margin-top: 20px;
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 0 10px;
      min-width: 0;
      flex: 1 0 50%;

      &:last-child {
        margin-top: 0;
      }
    }
  }

  &__columnTitle {
    padding-left: 10px;
    font-family: $font-mono;
    font-size: 12px;
  }

  &__codeBlock {
    border-radius: 4px;

    &.-long {
      max-height: 420px;
      overflow: auto;
    }
  }
}

// Footer
.footer {
  @extend %section;

  &__text {
    text-align: center;
    font-size: 12px;
  }

  &__link {
    color: blue;
  }

  &__parrot {
    width: 24px;
  }
}

// Github Corner
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
